* {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

ul.navbar-nav li.nav-item {
    margin-left: 30px;
}

.wrapper {
    margin-top: 200px;
    margin: 50px;
}
